$white: #fff;
$blue: #007eeb;
$darkBlue: #1a2644;
$green: #a4e6b2;
$grey: #a3a9b8;
$normalGreen: #00c889;
$red: #f12e1d;

$defaultFont: 'Be Vietnam Pro';
$additionalFont: 'Playfair Display';
$defaultBackgroundColor: $white;
$defaultTextColor: $darkBlue;
$defaultLineHeight: 1.2;

$smoothColor: color 0.3s ease-out;
