@use '../../node_modules/reset-css/sass/_reset';
@use './_mixins' as *;
@use './_vars' as *;

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e6f7f7;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: lightBlue;
  border-radius: 8px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: lightBlue #e6f7f7;
}


body {
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

div {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
