@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 30px;
  width: fit-content;
  min-width: 200px;
  max-width: 250px;
  background-color: rgb($white, 0.6);
  padding: 20px 20px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 90;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
  box-shadow:
    3px 3px 10px 0 rgb($darkBlue, 0.15),
    4px 4px 4px 0 rgb($white, 0.9) inset;
  border-radius: 0 16px 16px 0;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-100%);
}

.collapseBtn {
  background: none;
  border: none;
  cursor: pointer;
  filter: opacity(0.5);
  transition: filter 0.6s ease-out;

  &:hover {
    filter: opacity(1);
  }
}

.expandBtn {
  position: fixed;
  top: 120px;
  left: 15px;
  height: 30px;
  z-index: 101;
  background-color: rgb($white, 0.4);
  border: none;
  box-shadow:
    3px 3px 10px 0 rgb($darkBlue, 0.15),
    4px 4px 4px 0 rgb($white, 0.9) inset;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  filter: opacity(0.6);
  transition: filter 0.3s ease-out;
  font-family: $defaultFont, sans-serif !important;
  font-weight: unset !important;
  font-style: unset !important;
  font-size: unset !important;

  &:hover {
    filter: opacity(1);
  }
}

.upperSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newChat {
  background-color: rgb($white, 0.2);
  border: 1px solid rgb($black, 0.1);
  border-radius: 0 10px 10px 0;
  padding: 8px 20px 8px 29px;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  box-shadow: 
    0px 0px 5px 0 rgb($darkBlue, 0.1),
    3px 3px 10px 0 $white inset;
  width: fit-content;
}

.newChat:hover {
  box-shadow:
    0 0 10px 0 rgb($darkBlue, 0.15),
    3px 3px 10px 0 $white inset;
}

.chatList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.chatItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: rgb($white, 0.3);
  box-shadow:
    0px 0px 5px 0 rgb($darkBlue, 0.1),
    3px 3px 10px 0 $white inset;
  padding: 6px 10px 6px 29px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;

  .icon {
    visibility: hidden;
  }

  &:hover {
    box-shadow:
      3px 3px 10px 0 $white inset,
      2px 2px 15px 0 #bcdcf7,
      -2px -2px 15px 0 #b9f4c4;

    .icon {
      visibility: visible;
    }
  }
}

.chatName {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  background: linear-gradient(90deg, #d6f8e2 0%, #c1ddf1 100%);
}

.icon {
  transition: box-shadow 0.3s ease-out;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0 6px 0 rgb($darkBlue, 0.25);
  }
}

.blockChatHistory {
  position: relative;
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.lockOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  font-weight: bold;
}

.lockIcon {
  width: 26px;
  height: 28px;
}

.lockText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hidden {
  visibility: hidden;
}
