@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.details {
    position: absolute;
    z-index: 10;
    width: fit-content;
    bottom: 64px;
}

.button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: $darkBlue;
    cursor: pointer;
    display: flex;
    gap: 4px;
}

.icon {
    width: 28px;
    margin-top: 6px;
}