.stars {
  display: flex;
}
.starWrap {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.starIcon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  transition: opacity 600ms ease-out;
  position: absolute;
  left: 0;
  top: 0;
}