@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.header {
  position: fixed;
  top: 12px;
  left: 12px;
  right: 12px;
  width: calc(100% - 24px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  box-shadow:
    3px 3px 10px 0 rgb($darkBlue, 0.2),
    0 0 25px 0 $white inset;
}

.title {
  font-weight: bold;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}

.links {
  display: flex;
  align-items: center;
  gap: 120px;
  width: fit-content;
}

.loginButton {
  padding: 10px 45px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  color: $darkBlue;
  font-size: 1.7rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow:
    2px 2px 5px 0 rgb($darkBlue, 0.2),
    3px 3px 5px 0 rgb($darkBlue, 0.1) inset;

  transition:
    color 0.3s ease-out,
    box-shadow 0.3s ease-out;

  &:hover {
    color: $blue;
    @include shadow($dropColor: $blue, $dropOpacity: 0.4, $innerColor: $blue);
  }

  &:active {
    color: $darkBlue;
    @include shadow($dropBlur: 4px, $innerColor: $darkBlue);
  }
}
