@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.header {
  position: fixed;
  top: 12px;
  left: 12px;
  right: 12px;
  width: calc(100% - 24px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  box-shadow:
    3px 3px 10px 0 rgb($darkBlue, 0.2),
    0 0 25px 0 $white inset;
}

.title {
  font-weight: bold;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}

.links {
  display: flex;
  align-items: center;
  gap: 120px;
  width: fit-content;
}

.loginButton,
.logoutButton {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  color: $darkBlue;
  font-size: 1.7rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow:
    2px 2px 5px 0 rgb($darkBlue, 0.2),
    3px 3px 5px 0 rgb($darkBlue, 0.1) inset;

  transition:
    color 0.3s ease-out,
    box-shadow 0.3s ease-out;

  &:hover {
    color: $blue;
    @include shadow($dropColor: $blue, $dropOpacity: 0.4, $innerColor: $blue);
  }

  &:active {
    color: $darkBlue;
    @include shadow($dropBlur: 4px, $innerColor: $darkBlue);
  }
}

.userWrapper {
  position: relative;
  display: inline-block;
  width: fit-content;

  &:hover {
    .chevronIcon {
      transform: rotate(-180deg);
      margin-top: -1px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 16px;
    pointer-events: auto;
  }
}

.user {
  width: fit-content;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  color: $darkBlue;
  font-size: 1.7rem;
  border: none;
  border-radius: 12px;
  box-shadow:
    2px 2px 5px 0 rgb($darkBlue, 0.2),
    3px 3px 5px 0 rgb($darkBlue, 0.1) inset;
}

.chevronIcon {
  margin-left: 2px;
  transition: all 0.3s ease-out;
}

.logoutButton {
  position: absolute;
  padding: 10px 16px;
  left: 0;
  background-color: rgba($white, 0.8);
  color: #f12e1d;
  top: 100%;
  margin-top: 8px;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: rgb(#fff0ef, 0.7);
    color: #f12e1d;
    box-shadow:
      2px 2px 5px 0 rgb($darkBlue, 0.2),
      3px 3px 5px 0 rgb($darkBlue, 0.1) inset;
  }
}
