@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.link,
.activeLink,
.disabled {
  font-size: 1.75rem;
}

.link {
  @include link;
}

.activeLink {
  @include link;
  font-weight: 700;
}

.disabled {
  @include link;
  cursor: default;
  color: $grey;

  &:hover {
    color: $grey;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}
